.red {
  height: 100px;
  width: 100px;
  background-color: red;
  position: relative;
}
.blue {
  height: 100px;
  width: 100px;
  background-color: blue;

}
.yellow {
  height: 100px;
  width: 100px;
  background-color: yellow;
}
